* {
margin: 0;
padding: 0;
}

h1 {
text-align: center;
}

table {
margin: 0 auto;
}

td {
width: 50px;
height: 50px;
border: 1px solid black;
border-radius: 2px;
}

.marble {
width: 32px;
height: 32px;
border-radius: 16px;
border: 1px solid black;
margin: auto;
position: relative;
}

#selected {
width: 38px;
height: 38px;
border-radius: 19px;
}

h4 {
text-align: center;
margin-top: 40px;
}

#points {
text-align: center;
font-size: 50px;
}